/* App.css */

/* Style for the entire app */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: center;
  color: white;
  /* Dim the background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  /* Add shadow to the title */
 
}

/* Style for the main heading */
h1 {
  font-size: 10em; /* Make the font size larger */
  margin-top: 0px; /* Add some top margin */
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow behind the text */
}

/* Style for the catchphrase */
h2 {
  font-size: 1.5em; /* Set the font size */
  opacity: 0.95; /* Add some opacity to dim it */
  margin-top: -75px; /* Adjust the margin-top as needed */
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow behind the text */
}


.nav-main {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px; /* Adjust the bottom position as needed */
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 40vw; /* Adjust the width as needed */
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.link-txt {
  font-size: 1.25em;
  text-decoration: none;
  color: #5d5d5d;
  margin: 1rem;
  transition: background-color 0.3s, border-radius 0.3s, padding 0.3s;
  line-height: 40px; /* Match the height of the navigation bar */
  font-weight: bold;
}

.link-txt:hover {
  background-color: rgb(91, 86, 86);
  border-radius: 20px;
  padding: 0.25em 0.5em; 
  color: white;
}
